body {
    margin: 0 0.2em 0.2em 0;
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    overflow-x: hidden;
}

img {
    flex-grow: 1;
    margin: 0.2em 0 0 0.2em;
    transition: filter 100ms linear;
    max-width: calc(100% - 0.2em);
}

img:hover {
    filter: brightness(80%);
}

a#sourceLabel {
    position: fixed;
    bottom: 1em;
    right: 1em;
    color: white;
    font: 14px/2 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    text-decoration: none;
    transition: background-color 100ms linear;
    background-color: rgba(39, 39, 39, 0.6);
    padding: 0.1em 0.5em;
    border-radius: 0.5em;
}

a#sourceLabel:hover {
    background-color: gray;
}
